body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.seccform {
    padding-left: 30px;
    padding-right: 30px;
}

/*---------- esto corresponde al NAV BAR--------------*/
#menu ul {
    list-style-type: none;
}
#menu li {
    display: inline;
}
#menu ul li a {
    text-decoration: none;
    color: #a8b6c5;
    font-weight: bold;
    padding: 10px 24px;
    margin: 10px;
}

#logo, #font1 {
    color: #3554ce;
}

#butt {
    background-color: #2a4ac7;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #2a4ac7;
    width: 140px;
    margin: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#logo, #menu, #butt{
	display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

/*-------------esto corresponde a la SECCION 1----------------*/
.secc {  
    display: inline-block;
    padding: 70px;
    margin: 20px;
}

#sec1p1{
    display: inline-block;
    padding: 8px;
}

.vacc {
    width: 100%;
}

.font11 {
    color: #1f3e72;
    font-weight: bold;
    margin: 10px;
    padding: 10px;

}

.buttonsch {
    color: #1f3e72;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    padding: 16px;
}

.buttonsch:hover, .buttonsch:focus {
    background-color: #eef3ff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 800px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #a8b6c5;
    padding: 12px 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.dropdown a:hover {background-color: #eef3ff;}
.show {display: block;}
/*---------esto corresponde a la SECCION 2----------------------*/
.divs1 {
    border-radius: 10px;
    width: 240px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #a8b6c5;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.secc2 {  
    display: inline-block;
}

#esp {
    color: #ffffff;
}

.secc2h5{
    display: inline-block;
    margin-left: 20px;
    margin-right: 70px;
}

/*----------esto es de la SECCION 4------------*/
.divs2 {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #a8b6c5;
    padding: 10px;
    margin: 10px 20px;
}

.button1 {
    background-color: #eef3ff;
    color: #3554ce;
    border: 2px solid #eef3ff;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 32px;
    margin: 20px;
}


/*---------- esto corresponde al FOOTER--------------*/
.footer1, .footer2 {
    display: inline-block;
    padding: 50px;
}

.footOrd1, .footOrd2, .footOrd3 {
    display: inline-block;
    padding: 20px;
}

.fp1, .fp2 {
    display: inline-block;
    padding: 40px;
}

#footer {
    background-color: #eef3ff;
}

#font2 {
    color: #1f3e72;
}

#font3 {
    color: #a8b6c5;
    font-weight: bold;
}
